
body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    background-color: #F1F1F1;
}

.header {
    text-align:right;
    background-color: #222;
    height: 85px;
}

.container{ width: 960px; height: 80px;margin: 0 auto; position: relative;}

.header ul {
    text-align:right;
    list-style-type: none;
    padding: 0;
    min-width: 200px;
}
.header ul li {
    margin-top: 35px;
    display: inline-block;
}
.header ul li:hover {
    background-color: #333;
}
.header ul li a, visited {
    color: #CCC;
    display: block;
    padding: 15px;
    text-decoration: none;
    margin-top:0px;
}
.header ul li:hover ul {
    display: block;
}
.header ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    border: 5px solid #222;
    border-top: 0;
    margin-left: -5px;
}
.header ul ul li {
    display: block;
    margin-top:0px;
}
.header ul ul li a:hover {
    color: #699;
}

.logo{ 
    text-align: left; 
    float:left; 
    height: 85px; 
    list-style-type: none;
     padding: 0; 
     margin: 0;
     
     display: inline-block; 
    }
.logo:hover{ 
    background-color: #333; 
}
.logo a,visited{ 
    color: #CCC; 
    padding: 0; 
    text-decoration: none; 
}

.searchbar{ width: 760px; height: 70px;margin: 0 auto; text-align: center; }
.searchbar{ background-color: #FFF; border: 3px solid #DDD; padding: 20px; margin: 80px auto auto auto; }

input[type="text"], input[type="password"]{
    font-size: 18px;
    outline:none;
    padding-top:0px;
    padding-bottom:0px;
    padding-left: 10px;
    padding-right: 10px;
    width:300px;
    height:40px;
    border:1px solid #eee;
    border-radius: 3px;
    margin: 15px auto 15px auto;
    display: block;

}

input[type="submit"]{
    font-size: 18px;
    color:#fff;
    background:#0098cb;
    padding:10px;
    
    width:200px;
    height:40px;
    border:0px;
    border-radius: 3px;
    margin: 15px auto 15px auto;
    cursor:pointer;
    display:block;
}

input[type="submit"]:hover{
    background:#00b8eb;
}

input[type="submit"]:hover{
    background:#00b8eb;
}


.searchbar select{
    font-size: 18px; 
    outline:none;
    padding:10px;
    width:200px;
    height:40px;
    border-radius: 3px;
    border:1px solid #eee;
    margin: 15px;
    display:inline-block;
    float:left;
    cursor:pointer;
}

.results{

    font-size:24px;
    background-color: #FFF;
    padding:10px;
    border-radius: 3px;
    border:1px solid #eee;
    margin:10 auto 10 auto;
    width:350px;
 }


.results a
{
    text-decoration:none;
    color: #222;
}

.message{ width: 760px; height: 200px;margin: 0 auto; text-align: center; }
.message{ background-color: #FFF; border: 3px solid #DDD; padding: 20px; margin: 80px auto auto auto; }

.wrapper{
    text-align: center;
}

.wrapper a,visited{
    text-decoration: none; 
    color:#333; 
}

.formcontainer{
    width: 720px;
    height: 330px;
    margin: auto;
    text-align: center;
}

.column1{
    width: 330px;
    padding:15px;
    margin: auto;
    display: inline-block;
    float: left;
}

.column2{
    width: 330px;
    padding: 15px;
    margin: auto;
    display: inline-block;
    float: left; 
}